.imagem-logo{
    text-align: center;
    
}
.cadastro3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.left-3 {   
    width: 8%;
}
.center-3 {
    width: 100%;
    font-size: 15px;
    
}
.left-4{
    width: 6%;

}
