<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="p">
  <h1>Cadastro Pessoal</h1>
  </div>
  
<ion-grid>

  <ion-row>
    <ion-col>

      <ion-item class="text-white" size="6">         
        <ion-label position="floating">Nome:</ion-label>
        <ion-input placeholder="Digite o seu nome"></ion-input>
      </ion-item>

    </ion-col>
    <ion-col>
      <ion-item class="text-white" size="6">         
        <ion-label position="floating">Sobrenome:</ion-label>
        <ion-input placeholder="Digite seu sobrenome"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

      <ion-item class="text-white">         
        <ion-label position="floating">Data de nascimento:</ion-label>
        <ion-input placeholder="Ex: 00/00/0000"></ion-input>
      </ion-item>

    </ion-col>
    <ion-col>

      <ion-item class="text-white">         
        <ion-label position="floating">Idade:</ion-label>
        <ion-input placeholder="Digite sua idade"></ion-input>
      </ion-item>

    </ion-col>
  </ion-row>

 
<ion-row>
  <ion-col>
  <ion-item class="text-white">         
    <ion-label position="floating">E-mail:</ion-label>
    <ion-input placeholder="Ex: anjosdaterra@outlook.com"></ion-input>
  </ion-item>
</ion-col>
</ion-row>

  <ion-row>

    <ion-col>
      <ion-item class="text-white">         
        <ion-label position="floating">CPF:</ion-label>
        <ion-input placeholder="000.000.001-0"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item class="text-white">         
        <ion-label position="floating">Telefone:</ion-label>
        <ion-input placeholder="Ex:(21)91111-2222"></ion-input>
      </ion-item>
    </ion-col>

    
  </ion-row>

  <ion-row>
  

      <ion-col>
        <ion-item class="text-white">         
          <ion-label position="floating">Sexo:</ion-label>
          <ion-input placeholder="Digite seu sexo"></ion-input>
        </ion-item>
      </ion-col>

    <ion-col>
      <ion-item class="text-white">         
        <ion-label position="floating">Estado civil:</ion-label>
        <ion-input placeholder="Ex: Solteiro"></ion-input>
      </ion-item>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>  
      <div class="entrar">
        <ion-button color="primary" expand="block" >         
          <ion-icon slot="start" name=""></ion-icon>Próxima Etapa
        </ion-button>
      </div>
    </ion-col>

  </ion-row>

</ion-grid>
