<ion-header>
  <ion-toolbar>
    <div class="botao">
      <div>
        <ion-button color="primary" (click)="abrirPagina('quemsomos/quemsomos')"> 
          <i class="material-icons">add</i>
        </ion-button>
      </div>
      <div>
        
        <ion-button color="primary" (click)="abrirPagina('home')"> 
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-button>
      </div>
      <div>
        <ion-button color="primary" (click)="abrirPagina('carrinho')"> 
          <i class="material-icons">shopping_cart</i>
        </ion-button>
      </div>      
    </div>
  
  </ion-toolbar>
</ion-header>

