<ion-header>
  <ion-toolbar>
    <div class="botao">
      <div>
        <ion-button color="dark" (click)="abrirPagina('quemsomos/quemsomos')"> 
          <i class="material-icons">add</i>
        </ion-button>
      </div>
      <div>
        
        <ion-button color="dark" (click)="abrirPagina('home')"> 
          <i class="material-icons">home</i>
        </ion-button>
      </div>
      <div>
        <ion-button color="dark" (click)="abrirPagina('carrinho')"> 
          <i class="material-icons">shopping_cart</i>
        </ion-button>
      </div>      
    </div>
  
  </ion-toolbar>
</ion-header>

