<ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">QUEM SOMOS?</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content color="light">
<div class="container">

  <div class="coluna1">
<br>

    <h1>Sobre a empresa</h1>

    <p>Mais do que uma empresa de computação, somos uma startup de inovação em vendas que te assessora desde da compra até o pós venda. Além de termos um suporte de alta qualidade, temos por finalidades promover uma facilidade maior em suas compras em todo o Brasil. </p>
    
     
  </div>

    <div class="coluna2">

    <h1>Objetivo</h1>
    <p>Nosso objetivo é desenvolver um sistema que possa juntar todas as lojas de computação de sua região, acessando dentro de sua casa, e sem precisar ficar indo em varios sites em busca do seu produto.</p>

  <h1>Visão</h1>
  

  <p>Visamos, também, além de vender peças separadas para os nossos clientes, também vamos vender computadores já montados ou se quiser comprar as peças, nós também montamos. Iremos vender periféricos Gamers, Headphone, mouse, teclado entre outras coisas e sempre facilitando a sua compra.</p>
  <br><br><br>
<div class="coluna3">

  <p>Você quer sabe mais? Casdastre-se já e fiquei ligado em tudo sobre o nosso site.</p>
</div>
</div>
</div>
<br>


<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button color="dark" size="small">
    <ion-icon name="git-branch-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon color="dark"  name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon color="dark"  name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon color="dark" name="logo-facebook">  </ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon color="dark" name="logo-youtube"></ion-icon>
    </ion-fab-button> 
  </ion-fab-list>
</ion-fab>
  
<ion-fab horizontal="center">
<ion-button fill="outline">Cadastre-se</ion-button>
</ion-fab>

</ion-content>



