<ion-header>
  <ion-toolbar color="">
    <ion-title color="dark"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="text-align: justify;">

  <ion-row style="text-align:center">
    <ion-col>
      <img src="../../../assets/anjos_da_terra.png" width="60%" alt="">
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <h1>Quem somos? </h1>
        
    <p>Somos uma startup de ajuda após desastres naturais que visa auxiliar vítimas de enchentes e deslizamentos de terra através da tecnologia e do poder público. Criada por 3 programadores residentes no estado do Rio de Janeiro, tivemos a ideia de incentivar e facilitar empresas e pessoas a ajudarem essas pessoas em situação de vulnerabilidade.</p>
    <p>Nosso diferencial que nos destacam é ter um aplicativo para o fácil acesso dos nossos clientes e patrocinadores.</p>
      </ion-col>

      
    </ion-row>

    

    <ion-row>
      <ion-col>
        <h1>Objetivo</h1>
        <p>O objetivo para o nosso futuro é melhorar cada vez mais o nosso aplicativo, sempre modificando e deixando ele atualizado.  Também desejamos expandir o aplicativo para outros estados e municípios. Conforme fomos recebendo mais patrocínios iremos realizar essas melhoras e muitas outras melhorias. Temos uma meta para esse ano alcançar a venda do nosso aplicativo para no mínimo 3 municípios.</p>
      </ion-col>
    </ion-row>

   <ion-row>
    <ion-col>
        
    </ion-col>
   </ion-row>

  </ion-grid>
</ion-content>
<!--gambiara o footer do shared module não está funcionando aqui, não sei o porquê-->
<ion-footer color="dark" slot="bottom" >
  <app-botao></app-botao>
</ion-footer>

