<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>

  <ion-row>
    <ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
  </ion-row>


  <ion-row>
    <ion-item>
      <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Digite sua senha">
      </ion-input>
      <button (click)="togglePasswordFieldType()">
        <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'">
        </ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Confirme sua senha">
      </ion-input>
      <button (click)="togglePasswordFieldType()">
        <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'">
        </ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <ion-button>
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
        Gravar
      </ion-button>
    </ion-col>
  </ion-row>

  
</ion-grid>