<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="titulo"></ion-title>

  </ion-toolbar>
</ion-header>
<div class="p">
<h1>Cadastro</h1>
</div>

<div class="cadastro">
  
  <ion-card>

    <ion-card-header>
      

    </ion-card-header>

    <ion-card-content>


      <ion-item class="text" >
        <ion-label position="floating" >CPF</ion-label >
        <ion-input placeholder="Digite seu CPF"></ion-input>
      </ion-item>
      
      <br>
      <ion-item class="senha">
        
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Digite sua senha">
        </ion-input>
        <button (click)="togglePasswordFieldType()">
          <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'" >
          </ion-icon>
        </button>
      </ion-item  >

      <ion-item class="senha1">
        
        <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Confirme sua senha">
        </ion-input>
        <button (click)="togglePasswordFieldType()">
          <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'" >
          </ion-icon>
        </button>
      </ion-item>
    

      <ion-item class="text">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input placeholder="Digite seu E-mail"></ion-input>
      </ion-item>

      <br>
      <ion-button expand="full" shape="round" >
        <ion-icon slot="start" name=""></ion-icon>
        Cadastrar
      </ion-button>
<br>
<div class="cadastro1">
  <p>Já posui cadastro?</p>
  <a href="index.php?site=forgotpw">Entre Aqui</a>
</div>
<br>

    </ion-card-content>
  </ion-card>
</div>
