<div style="height: 200px">
  <swiper
  [autoplay]="{
      delay: 5000,
      disableOnInteraction: false
  }"
  [speed]="1000"
  [loop]="true"
  [slidesPerView]="1"
  [spaceBetween]="10"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  >
  <ng-template swiperSlide><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKVbwjZ9JJhXxU96IxuWVqJNetvudvDhDnQYFS2n4P-Qi5CWNKcaZnUrWwAYCKJz11pfg&usqp=CAU" alt=""></ng-template>
  <ng-template swiperSlide><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXh603NtQ44xArdT_9dffToTIrWoyFLKeh1w&usqp=CAU" alt=""></ng-template>
  <ng-template swiperSlide><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmsFYw0C_0mtE3TjNf3TfU3d2iLKDND0h0Kg&usqp=CAU" alt=""></ng-template>
  </swiper>
</div>
