
<ion-content>
  <div class="container-cabecalho">
    <div class="imagem-logo">
      <br>
      <img src="../../../assets/anjosdaterr_ofc-circular.png" width="60%" alt="">
    </div>
    <div class="cadastro3">
      <div class="left-3"></div>
      <div class="center-3">
        <h1>Login</h1>
        <p>Entre na sua conta cadastrada.</p>
      </div>
    </div>
  </div>
 
<!-- <div class="cadastro2"> -->

  <ion-grid>


    <ion-row>
      <ion-col>
        <ion-item class="text-white">         
          <ion-label position="floating">CPF :</ion-label>
          <ion-input placeholder="000.000.001-0"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="text-white">
              <ion-label position="floating">Senha :</ion-label>
        
              <ion-input placeholder="Digite sua senha"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


    <ion-row>
      <ion-col>
        <div class="senha">
          <a href="index.php?site=forgotpw">Esqueceu a senha?</a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>  
        <div class="entrar">
          <ion-button color="terra" expand="block" >         
           
            <h4>Entrar</h4>
          </ion-button>
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      
      <ion-col>
        <div class="cadastro7"> 
        <p>Não posui cadastro?</p>
        </div>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="cadastro1"> 
          <ion-button color="warning" fill="clear">Entre Aqui</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
      
      

     
       
     
      
      
    
      
      
    
    
      
   
    
  <!-- </div> -->
</ion-content>


  

