    .container-cabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cadastro7{
    text-align: center; 
}
.cadastro1{
    text-align: center;
    --color: #b25d00;
}   

.container-cabecalho{
    width: 100%;
    display: flex;
    flex-direction: column;
}       

.imagem-logo{
    text-align: center;
    
}

.cadastro3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.left-3 {   
    width: 8%;
}
.center-3 {
    width: 100%;
    font-size: 15px;
}

.error-msg {
    color: red;
}


