.cadastro2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;  
    border-radius: 10px;
    border: none;
    
}
.cadastro3{
    text-align: center;
    justify-content: center;
}
.cadastro4{
    text-align: center;
    justify-content: center;
}
.senha{
    float: left ;
    padding: 15px;
}
.entrar{
    border-radius: 10px;
    border:none;
    padding: 15px;
    width: 100%;
}

    

