.cadastro2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;  
    
}
.cadastro3{
    text-align: center;
    justify-content: center;
}
.cadastro4{
    text-align: center;
    justify-content: center;
}
    
    

