<ion-header >
  <ion-toolbar color="" >
    
  </ion-toolbar>
 
</ion-header>

  <div class="cadastro3">
<h1>Login</h1>
</div>
<div class="cadastro4">
<p>Entre na sua conta cadastrada.</p>
</div>
<div class="cadastro2">
  
    <ion-card>
      <ion-card-content>
        <ion-item class="text-white">
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-card-content>
        <ion-item class="text-white">
          <ion-label position="floating">Senha:</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-card-content>

    
      <ion-button color="dark" expand="full">
        <ion-icon slot="start" name=""></ion-icon>Entrar
      </ion-button>
    </ion-card>
  </div>

  

