<ion-content>
  <!-- <div class="container-cabecalho"> -->
    <div class="imagem-logo">
      <br>
      <img src="../../../assets/anjos_da_terra.png" width="60%" alt="">
    </div>
    <div class="cadastro3">
      <div class="left-3"></div>
      <div class="center-3">
        <h1>{{titulo}}</h1>
      </div>
    </div>
  <!-- </div> -->
 
<!-- <div class="cadastro2"> -->
  

  <!-- LOGIN -->
  <ion-grid *ngIf="botaoCL==true">
    <form [formGroup]="loginForm" (ngSubmit)="logar()">
      <ion-row>
        <ion-col>
          
          <ion-item class="text-white">         
            <ion-label position="floating">CPF :</ion-label>
            <ion-input placeholder="000.000.001-0" id="cpf" name="cpf" type="text" maxlength="11" formControlName="cpf"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="text-white">
            <ion-label position="floating">Senha :</ion-label>
            <ion-input placeholder="Digite sua senha" type="password" id="password" name="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="senha">
            <a href="home.page.html">Esqueceu a senha?</a>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>  
          <div class="entrar">
            <ion-button color="primary" expand="block" type="submit">Entrar</ion-button>
          </div>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <div class="cadastro7">
          <p>Não posui cadastro?</p>
        </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="cadastro1">      
            <ion-button color="warning" fill="clear" (click)="mudarCadastroLogin()">{{botaoCLmsg}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
      
    </form>
    </ion-grid>

    <!-- CADASTRO -->
    <ion-grid *ngIf="botaoCL==false">
      <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label position="floating">CPF</ion-label>
              <ng-container *ngFor="let error of error_messages.cpf">
                <span class="error-msg" *ngIf="cadastroForm.get('cpf')?.hasError(error.type) && (cadastroForm.get('cpf')?.dirty || cadastroForm.get('cpf')?.touched)">
                  {{error.message}}</span>
              </ng-container> 
              <ion-input id="cpf" name="cpf" type="text" maxlength="11" formControlName="cpf"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
              <ng-container *ngFor="let error of error_messages.email">
                <span class="error-msg" *ngIf="cadastroForm.get('email')?.hasError(error.type) && (cadastroForm.get('email')?.dirty || cadastroForm.get('email')?.touched)">
                  {{error.message}}
                </span>
              </ng-container>
              <ion-input  type="email" id="email" name="email" formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
    
    
      <ion-row>
        <ion-col>
    
        <ion-item>
          
          <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Digite sua senha" formControlName="password">  <!--Fazer a verficacao de senha-->
          </ion-input>
          <ng-container>
            <ion-label *ngIf="cadastroForm.get('password')?.valid"><ion-icon color="success" name="checkmark-circle-outline"></ion-icon></ion-label>
          </ng-container>
          
          <button (click)="togglePasswordFieldType()">
         
            <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'">
            </ion-icon>
          </button>
        </ion-item>
    
        <ion-item>
          <ion-input [type]="isTextFieldType ? 'text' : 'password'" placeholder="Confirme sua senha" id="senha" name="senha" formControlName="confirmPassword">
          </ion-input>
          <ng-container *ngFor="let error of error_messages.confirmPassword">
            <ion-label *ngIf="cadastroForm.get('confirmPassword')?.valid">
                <ion-icon color="success" name="checkmark-circle-outline"></ion-icon>
            </ion-label>
          </ng-container>

          <button (click)="togglePasswordFieldType()">

            <ion-icon [name]="isTextFieldType ? 'eye' : 'eye-off'">
            </ion-icon>
          </button>
        </ion-item>

        </ion-col>
      </ion-row>
    
    
      <ion-row>
        <ion-col>  
          <div class="cadastrar">
            <ion-button color="primary" expand="block" type="submit" [disabled]="!cadastroForm.valid">Cadastrar</ion-button>
          </div>
    
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <div class="cadastro1">      
            <ion-button color="warning" fill="clear" (click)="mudarCadastroLogin()">{{botaoCLmsg}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
    
  <!-- </div> -->
</ion-content>

  

