.container {
    //back-ground-color está como dark.
    height: 100%;
    width: 100%;
    color: white; 
    position: absolute;
    display: inline-block;
}


.retangulo01 {
    margin-top: 2px;
    background-color:darkblue;
    height: 290px;
    width: 100%;
    position: relative;
    display: inline-block; 
}
.retangulo01>h5 {
    text-align: center;
}

.retangulo02 {
    margin-top: 3px;
    background-color:darkblue;
    height: 100px;
    width: 50%; 
    float: left; 
}

.retangulo03 {
    margin-top: 3px;
    background-color: white;
    height: 100px;
    width: 50%;
    float: right;
}
.retangulo03>p {
    color: black;
    line-height: 16px;
}
.retangulo03>h5 {
    color: black;
    line-height: 0;
}
.retangulo03>button {
    width: 100%;
    height: 100%;
}

.retangulo04 {
    margin-top: 3px;
    width: 100%;
    height: 300px;
    background-color: green;
    display:flexbox;
    float: left
}

.retangulo05 {
    width: 33.3%;
    height: 100px;
    background-color: blue;
    float: left;
    display: flex;
    justify-content:space-around;
}
.retangulo > div {
    margin: 20%;
    padding: 0px;
}

.retangulo {
    width: 33.3%;
    height: 100px;
    background-color: orange;
    float: left;
    border: 4px solid white;
   
}
.retangulo06 > div {
    margin: 20%;
    padding: 0px;

}


.retangulo07 {
    width: 33.4%;
    height: 100px;
    background-color: red;
    float: left;
}
.retangulo07 > div {
    margin: 20%;
    padding: 0px;

}

.DIVISAO2>h4 {
    color: black
}

