.imagem-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.icone {
  position: absolute;
  right: 140px;
}
.titulo h1 {
  text-align: center;
  background-size: 100% 3px;
  font-size: 7vw;
}
.first_card- {
  text-align: justify;
  line-height: normal;
  letter-spacing: -1px; /* propriedade css que específica o comportamento do espaçamento entre os caracteres de texto*/
  width: 90%;
  background-color:#0081B2;
}
.first_card- h1 {
  text-align: center;
  //text-decoration: underline;
  font-size: 7vw;
  color: white;
}

.second_card {
  text-align: justify;
  line-height: normal;
  letter-spacing: -1px; /* propriedade css que específica o comportamento do espaçamento entre os caracteres de texto*/
  width: 90%;
  //background: linear-gradient(to right, transparent, #B25D00);
  background-color: #B25D00;
}
.second_card h1 {
  text-align: center;
  //text-decoration: underline;
  color: white;
}
.third_card {
  text-align: justify;
  line-height: normal;
  letter-spacing: -0.80px; /* propriedade css que específica o comportamento do espaçamento entre os caracteres de texto*/
  width: 90%;
  //background: linear-gradient(to right, transparent, #b7d5e5);
  background-color:#0081B2;
}

.third_card h1 {
  text-align: center;
  //text-decoration: underline;
  color: white;
}
.floating_button {
  position: absolute;
  right: 74px;
}

.texto {
  color: #F2F2F2;
}