<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="container">
    <div class="retangulo01">
      <h5>Ofertas do dia</h5>
      <app-slide></app-slide>
      <p>Preço: $300,00</p>
    </div>

    <div class="DIVISAO">
      <div class="retangulo02">
        <img src="" alt="" height="100%">
      </div>
  
      <div class="retangulo03">
        <button (click)="sayHello()"><i class="large material-icons">location_on</i>
          <p><strong>Lojas próximas</strong></p>
        </button>
      </div>
    </div>

    <div class="retangulo04">
      <h4> slide:Nome da loja, foto das peças de hardware </h4>
      {{nome}}
    </div>
   
    
    <div class="DIVISAO2">
      <h4>Como funciona ?</h4>
      <div class="retangulo">
        <div>
          <img src="../../../assets/icon/browser.png" alt="">
        </div>
      </div>
      <div class="retangulo">
        <div>
          <img src="../../../assets/icon/pay-per-click.png" alt="">
        </div>
      </div>
      <div class="retangulo">
        <div>
          <img src="../../../assets/icon/delivered.png" alt="">
        </div>
      </div>
    </div>   
  </div>
</ion-content>

