<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="container">
    <div class="retangulo01">
      <h1>foto - slides computador montado</h1>
    </div>

    <div class="DIVISAO">
      <div class="retangulo02">
        <h1>foto da região</h1>
      </div>
  
      <div class="retangulo03">
        <h5><strong>Região</strong></h5>
        <p>
          --botao--
        </p>
      </div>
    </div>

    <div class="retangulo04">
      <h4> slide:Nome da loja, foto das peças de hardware </h4>
    </div>
    <h4>Como funciona ?</h4>
    <div class="DIVISAO">
      <div class="retangulo05">
        
      </div>
      <div class="retangulo06">
        
      </div>
      <div class="retangulo07">
        
      </div>
    </div>
   
  </div>

</ion-content>

