.imagem-logo {
  text-align: center;
}
.titulo {
  text-align: center;
}
.first_card {
  text-align: center;
}
.first_card p {
  text-align: center;
}
.secound_card {
  text-align: center;
}
.third_card {
  text-align: center;
}
.floating_button {
  position: absolute;
  right: 74px;
}
