<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="ligth" class="ion-padding">
  <div class="imagem-logo">
    <br />
    <img src="../../../assets/anjos_da_terra.png" width="200" alt="" />
  </div>
  <div class="titulo">
    <h1>Relatos de Vítimas</h1>
  </div>
  <ion-card class="first_card">
    <h1></h1>
    <h2>Família de Laísa</h2>
    <img alt="andre, uma vitima" src="../../../assets/WhatsApp-Image-2019-03-01-at-15.44.20.jpeg" />
    <p>André Luiz, 48 anos, casado</p>
  </ion-card>
  <ion-card class="first_card">
    <h2>Dona Renata</h2>
    <img
      alt="Renata, outra vitima"
      src="../../../assets/rachel-de-queiroz.jpg"
    />
    <p>aaaaa</p>
  </ion-card>
</ion-content>


<!--FOOTER ONDE ESTÃO OS BOTÕES-->
<app-footer></app-footer>

